flows.json
[{"id":"e92ec706.c3bc08","type":"tab","label":"Getting data","disabled":false,"info":""},{"id":"96811b1d.85c69","type":"tab","label":"Storing data","disabled":false,"info":""},{"id":"756aad4e.70500c","type":"tab","label":"Visu","disabled":false,"info":""},{"id":"601da0a1.22d1b","type":"tab","label":"Analysis","disabled":false,"info":""},{"id":"41b2aa4d.8b41c4","type":"mqtt-broker","z":"","name":"","broker":"iot.research.hamk.fi","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e249e3a.58595a","type":"sqlitedb","z":"","db":"myDB.db","mode":"RWC"},{"id":"87211ac9.fe683","type":"ui_tab","z":"","name":"Real Time Metering","icon":"dashboard","disabled":false,"hidden":false},{"id":"d8b07210.4ab6d8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"6a57e494.b3f8b4","type":"ui_group","z":"","name":"Arduino","tab":"87211ac9.fe683","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"e3f64f47.4c1d18","type":"ui_tab","z":"","name":"Analysis","icon":"dashboard","disabled":false,"hidden":false},{"id":"49e07d54.6f0644","type":"ui_group","z":"","name":"All data","tab":"e3f64f47.4c1d18","order":1,"disp":true,"width":"12","collapse":false,"className":""},{"id":"e6e2d2e5.7c677","type":"ui_group","z":"","name":"Raspberry","tab":"87211ac9.fe683","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"888ff535.b11c7","type":"ui_group","z":"","name":"Brightness and Pressure","tab":"87211ac9.fe683","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"c4bc7a68.df0bb","type":"ui_group","z":"","name":"Comparison","tab":"87211ac9.fe683","order":4,"disp":true,"width":"6","collapse":false,"className":""},{"id":"ce2317c8.83cce8","type":"remote-config","z":"","name":"Node-RED UI","host":"localhost","protocol":"http","port":"1888","baseurl":"/ui","instancehash":"","server":"","region":"de"},{"id":"ec0711d0.9f3e38","type":"ui_group","z":"","name":"but1","tab":"87211ac9.fe683","order":5,"disp":true,"width":"6","collapse":false,"className":""},{"id":"2f61ca50.19e0de","type":"ui_group","z":"","name":"but2","tab":"87211ac9.fe683","order":6,"disp":true,"width":"6","collapse":false,"className":""},{"id":"31d8ec30.f03c84","type":"ui_group","z":"","name":"but3","tab":"87211ac9.fe683","order":7,"disp":true,"width":"6","collapse":false,"className":""},{"id":"2e792d3c.b467ba","type":"ui_group","z":"","name":"but4","tab":"87211ac9.fe683","order":8,"disp":true,"width":"6","collapse":false,"className":""},{"id":"8b0414ee.d4d3f","type":"rpi-sensehat in","z":"e92ec706.c3bc08","name":"","motion":false,"env":true,"stick":false,"x":120,"y":100,"wires":[["dff7cfee.fd5d78"]]},{"id":"6c110ca0.7b2344","type":"mqtt in","z":"e92ec706.c3bc08","name":"","topic":"HAMK/VLK/students/306","qos":"2","datatype":"auto","broker":"41b2aa4d.8b41c4","x":130,"y":200,"wires":[["607677f6.5dfd58","7f210865.53ac08"]]},{"id":"2aabc7e8.752dd8","type":"function","z":"e92ec706.c3bc08","name":"","func":"msg.control = {period:30000000};\nmsg.delay = 30000000;\nvar humidity = msg.payload.humidity;\nvar temperature = msg.payload.temperature;\nvar pressure = msg.payload.pressure;\nflow.set('p_raspberry', pressure);\nflow.set('h_raspberry', humidity);\nflow.set('t_raspberry', temperature);\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":100,"wires":[[]]},{"id":"8fd08250.2e026","type":"function","z":"e92ec706.c3bc08","name":"","func":"var brightness = msg.payload.brightness;\nvar humidity = msg.payload.humidity;\nvar temperature = msg.payload.temperature;\nvar presence = msg.payload.presence;\nvar light = msg.payload.lightstatus;\nflow.set('b_arduino',brightness);\nflow.set('h_arduino',humidity);\nflow.set('t_arduino',temperature);\nflow.set('prec_arduino',presence);\nflow.set('l_arduino',light);\n//flow.set('l_state_arduino',light_val);\n//flow.set('motion_arduino',motion);\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":220,"wires":[["daaa19d6.80a8e","ed036e8a.9dea4"]]},{"id":"dff7cfee.fd5d78","type":"json","z":"e92ec706.c3bc08","name":"","property":"payload","action":"obj","pretty":false,"x":290,"y":100,"wires":[["2aabc7e8.752dd8"]]},{"id":"607677f6.5dfd58","type":"json","z":"e92ec706.c3bc08","name":"","property":"payload","action":"","pretty":false,"x":250,"y":300,"wires":[["8fd08250.2e026"]]},{"id":"daaa19d6.80a8e","type":"debug","z":"e92ec706.c3bc08","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":260,"wires":[]},{"id":"4f53547b.c1e254","type":"function","z":"e92ec706.c3bc08","name":"","func":" msg.payload = {\n     'hat_temperature' : flow.get('t_raspberry'),\n     'hat_humidity' : flow.get('h_raspberry'),\n     'hat_pressure' : flow.get('p_raspberry'),\n     'sen_temperature' : flow.get('t_arduino'),\n     'sen_humidity' : flow.get('h_arduino'),\n     'sen_brighness' : flow.get('b_arduino'),\n     'sen_lights' : flow.get('l_arduino'),\n     'sen_presence' : flow.get('prec_arduino'),\n     'ID' : 'HAMK_306',\n     'message' : 'i want to go home'\n };\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":160,"wires":[["4c4e52a6.dcc4cc"]]},{"id":"a4a8ea9d.90f4d","type":"debug","z":"e92ec706.c3bc08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":930,"y":120,"wires":[]},{"id":"5e0f2a67.50b82c","type":"inject","z":"96811b1d.85c69","name":"","topic":"CREATE TABLE myDB(TIMESTAMP INT PRIMARY KEY NOT NULL, ID TEXT NOT NULL, hat_temp REAL, hat_humi REAL, hat_pres REAL, out_temp REAL, out_humi REAL, out_lux REAL, out_lights TEXT, out_presence TEXT, msg TEXT)","payload":"Create table","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":80,"wires":[["60475642.39dde8"]]},{"id":"60475642.39dde8","type":"sqlite","z":"96811b1d.85c69","mydb":"e249e3a.58595a","sqlquery":"msg.topic","sql":"","name":"DB","x":310,"y":120,"wires":[["2a81ef97.96979"]]},{"id":"2a81ef97.96979","type":"debug","z":"96811b1d.85c69","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":470,"y":120,"wires":[]},{"id":"d63efe54.722338","type":"link out","z":"e92ec706.c3bc08","name":"","links":["228bf60e.82e21a","52f532a1.ad0c1c","819a7206.176be","96aa35e.a971d48","c36e23d7.32b09"],"x":1095,"y":160,"wires":[]},{"id":"96aa35e.a971d48","type":"link in","z":"96811b1d.85c69","name":"storing","links":["d63efe54.722338"],"x":55,"y":220,"wires":[["3221a311.4d5b14"]]},{"id":"b5dab5f8.685d4","type":"sqlite","z":"96811b1d.85c69","mydb":"e249e3a.58595a","sqlquery":"msg.topic","sql":"","name":"","x":420,"y":220,"wires":[["fd616599.af635"]]},{"id":"fd616599.af635","type":"debug","z":"96811b1d.85c69","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":220,"wires":[]},{"id":"3221a311.4d5b14","type":"function","z":"96811b1d.85c69","name":"adding","func":"var Time = new Date();\n\nvar hat_temp = msg.payload.hat_temperature || 0;\nvar hat_humi = msg.payload.hat_humidity || 0;\nvar hat_pres = msg.payload.hat_pressure || 0;\nvar out_temp = msg.payload.sen_temperature || 0;\nvar out_humi = msg.payload.sen_humidity || 0;\nvar out_lux = msg.payload.sen_brightness || 0;\nvar out_lights = msg.payload.sen_lights || \"\";\nvar out_presence = msg.payload.sen_presence || \"\";\n\nmsg =\"(timestamp,ID,hat_temp,hat_humi,hat_pres,out_temp,out_humi,out_lux,out_lights,out_presence,msg)\" +\n     \" values(\" + Time.getTime()+\n     \", '\" + msg.payload.ID + \"'\"+\n     \", \" + hat_temp+\n     \", \" + hat_humi+\n     \", \" + hat_pres+\n     \", \" + out_temp+\n     \", \" + out_humi+\n     \", \" + out_lux+\n     \", '\" + out_lights+\"'\"+\n     \", '\" + out_presence+\"'\"+\n     \", '\" + msg.payload.message+\n    \"' )\";\n    \nvar topic = \"INSERT INTO myDB \" + msg;\n    \nvar msg1 = {};\nmsg1.topic = topic;\nmsg1.payload = Time;\nreturn msg1;\n","outputs":1,"noerr":0,"x":190,"y":220,"wires":[["b5dab5f8.685d4"]]},{"id":"f3eb926.02f4f7","type":"inject","z":"96811b1d.85c69","name":"","topic":"SELECT * FROM myDB LIMIT 10","payload":"First 10","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":120,"wires":[["60475642.39dde8"]]},{"id":"4c4e52a6.dcc4cc","type":"json","z":"e92ec706.c3bc08","name":"","property":"payload","action":"obj","pretty":false,"x":760,"y":140,"wires":[["a4a8ea9d.90f4d","d63efe54.722338","16ff6f93.80c54"]]},{"id":"9ec967e.ff15018","type":"inject","z":"96811b1d.85c69","name":"","topic":"SELECT * FROM myDB DESC LIMIT 10","payload":"Last 10","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":160,"wires":[["60475642.39dde8"]]},{"id":"228bf60e.82e21a","type":"link in","z":"756aad4e.70500c","name":"arduino visu","links":["d63efe54.722338"],"x":55,"y":200,"wires":[["96296bc1.eba91","be0f98dd.18d4e8","6dff78bf.c811d8"]]},{"id":"96296bc1.eba91","type":"change","z":"756aad4e.70500c","name":"T","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.sen_temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":100,"wires":[["31bdd512.87c48a","155e6659.be3492"]]},{"id":"be0f98dd.18d4e8","type":"change","z":"756aad4e.70500c","name":"H","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.sen_humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":180,"wires":[["d6906883.30ce5"]]},{"id":"6dff78bf.c811d8","type":"change","z":"756aad4e.70500c","name":"B","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.sen_brighness","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":260,"wires":[["197f229b.b1dc4d"]]},{"id":"31bdd512.87c48a","type":"ui_gauge","z":"756aad4e.70500c","name":"","group":"6a57e494.b3f8b4","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"C","format":"{{value}}","min":0,"max":"45","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"60","className":"","x":430,"y":100,"wires":[]},{"id":"d6906883.30ce5","type":"ui_gauge","z":"756aad4e.70500c","name":"","group":"6a57e494.b3f8b4","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":420,"y":180,"wires":[]},{"id":"197f229b.b1dc4d","type":"ui_gauge","z":"756aad4e.70500c","name":"","group":"888ff535.b11c7","order":2,"width":0,"height":0,"gtype":"gage","title":"Blighness","label":"lux","format":"{{value}}","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":420,"y":260,"wires":[]},{"id":"16ff6f93.80c54","type":"mqtt out","z":"e92ec706.c3bc08","name":"","topic":"HAMK/VLK/students/sensor","qos":"","retain":"","broker":"41b2aa4d.8b41c4","x":1000,"y":220,"wires":[]},{"id":"52f532a1.ad0c1c","type":"link in","z":"756aad4e.70500c","name":"raspberry visu","links":["d63efe54.722338"],"x":55,"y":460,"wires":[["e6cd00ac.586e48","42b55ea3.e1bec8","85b7c880.1bce3"]]},{"id":"e6cd00ac.586e48","type":"change","z":"756aad4e.70500c","name":"T","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.hat_temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":360,"wires":[["f79b3b24.28de8","f7a5c947.8ec7c"]]},{"id":"42b55ea3.e1bec8","type":"change","z":"756aad4e.70500c","name":"H","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.hat_humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":440,"wires":[["30bece51.a8456a"]]},{"id":"85b7c880.1bce3","type":"change","z":"756aad4e.70500c","name":"P","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.hat_pressure","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":520,"wires":[["ca1ac525.7e2528"]]},{"id":"f79b3b24.28de8","type":"ui_gauge","z":"756aad4e.70500c","name":"","group":"e6e2d2e5.7c677","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"C","format":"{{value}}","min":0,"max":"45","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"60","className":"","x":430,"y":360,"wires":[]},{"id":"30bece51.a8456a","type":"ui_gauge","z":"756aad4e.70500c","name":"","group":"e6e2d2e5.7c677","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":420,"y":440,"wires":[]},{"id":"ca1ac525.7e2528","type":"ui_gauge","z":"756aad4e.70500c","name":"","group":"888ff535.b11c7","order":2,"width":0,"height":0,"gtype":"gage","title":"Pressure","label":"","format":"{{value}}","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":420,"y":520,"wires":[]},{"id":"19e1663a.f178b2","type":"ui_toast","z":"756aad4e.70500c","position":"top right","displayTime":"4","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"className":"","topic":"warning","name":"","x":690,"y":400,"wires":[]},{"id":"f7a5c947.8ec7c","type":"switch","z":"756aad4e.70500c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"40","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":360,"y":400,"wires":[["feba457e.1393d8"]]},{"id":"feba457e.1393d8","type":"function","z":"756aad4e.70500c","name":"","func":"msg.payload = 'wow wow too hot';\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":400,"wires":[["19e1663a.f178b2"]]},{"id":"f9203322.fff61","type":"ui_toast","z":"756aad4e.70500c","position":"top right","displayTime":"4","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"className":"","topic":"warning","name":"","x":690,"y":140,"wires":[]},{"id":"155e6659.be3492","type":"switch","z":"756aad4e.70500c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"28","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":360,"y":140,"wires":[["8b14654a.982b6"]]},{"id":"8b14654a.982b6","type":"function","z":"756aad4e.70500c","name":"","func":"msg.payload = 'wow wow too hot';\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":140,"wires":[["f9203322.fff61","8757e1b6.5c88"]]},{"id":"4243aca7.7bc564","type":"ui_chart","z":"756aad4e.70500c","name":"","group":"c4bc7a68.df0bb","order":3,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#eb0741","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":585,"y":638,"wires":[[]]},{"id":"b811e84a.7a9648","type":"function","z":"756aad4e.70500c","name":"","func":"msg.topic = 'raspberry';\nreturn msg;","outputs":1,"noerr":0,"x":395,"y":618,"wires":[["4243aca7.7bc564"]]},{"id":"c36e23d7.32b09","type":"link in","z":"756aad4e.70500c","name":"graph 1","links":["d63efe54.722338"],"x":55,"y":638,"wires":[["763055c2.5fc6ac","47f873c3.12f144"]]},{"id":"763055c2.5fc6ac","type":"change","z":"756aad4e.70500c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.hat_temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":175,"y":618,"wires":[["b811e84a.7a9648"]]},{"id":"dd60455f.f6b15","type":"function","z":"756aad4e.70500c","name":"","func":"msg.topic = 'arduino';\nreturn msg;","outputs":1,"noerr":0,"x":385,"y":678,"wires":[["4243aca7.7bc564"]]},{"id":"47f873c3.12f144","type":"change","z":"756aad4e.70500c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.sen_temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":165,"y":678,"wires":[["dd60455f.f6b15"]]},{"id":"b1f4d244.09da18","type":"ui_chart","z":"756aad4e.70500c","name":"","group":"c4bc7a68.df0bb","order":3,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#eb0741","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":580,"y":760,"wires":[[]]},{"id":"9414a324.2e4d7","type":"function","z":"756aad4e.70500c","name":"","func":"msg.topic = 'raspberry';\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":740,"wires":[["b1f4d244.09da18"]]},{"id":"819a7206.176be","type":"link in","z":"756aad4e.70500c","name":"graph 2","links":["d63efe54.722338"],"x":60,"y":760,"wires":[["5c2b607b.7b4648","42d51424.736d24"]]},{"id":"5c2b607b.7b4648","type":"change","z":"756aad4e.70500c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.hat_humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":180,"y":740,"wires":[["9414a324.2e4d7"]]},{"id":"dd6e608a.f0ffa8","type":"function","z":"756aad4e.70500c","name":"","func":"msg.topic = 'arduino';\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":800,"wires":[["b1f4d244.09da18"]]},{"id":"42d51424.736d24","type":"change","z":"756aad4e.70500c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.sen_humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":170,"y":800,"wires":[["dd6e608a.f0ffa8"]]},{"id":"74e31d17.43094c","type":"ui_text","z":"e92ec706.c3bc08","group":"","order":12,"width":"2","height":"1","name":"","label":"Metar Readings","format":"{{msg.payload}}","layout":"row-spread","x":304.7499656677246,"y":1012.0500020980835,"wires":[]},{"id":"f964c273.4e89c","type":"ui_list","z":"601da0a1.22d1b","group":"49e07d54.6f0644","name":"","order":3,"width":"4","height":"7","lineType":"one","actionType":"check","allowHTML":false,"outputs":1,"topic":"selection","x":230,"y":40,"wires":[["fc97f950.200f58","9d1a4dd7.e59f78"]]},{"id":"951444de.f88d","type":"inject","z":"601da0a1.22d1b","name":"sel","topic":"","payload":"[{\"title\":\"hat_temp\"},{\"title\":\"hat_humi\"},{\"title\":\"hat_pres\"},{\"title\":\"out_temp\"},{\"title\":\"out_humi\"},{\"title\":\"out_lux\"},{\"title\":\"out_lights\"}]","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":90,"y":40,"wires":[["f964c273.4e89c"]]},{"id":"ef044d30.902888","type":"function","z":"601da0a1.22d1b","name":"","func":"var mymsg=\"\";\nvar lim = 10;\n\nif (msg.payload.title=='hat_temp'){\n    flow.set('hat_temp', msg.payload.isChecked);\n}\nif (msg.payload.title=='hat_humi'){\n    flow.set('hat_humi', msg.payload.isChecked);\n}\nif (msg.payload.title==\"hat_pres\"){\n    flow.set('hat_pres', msg.payload.isChecked);\n}\nif (msg.payload.title==\"out_temp\"){\n    flow.set('out_temp', msg.payload.isChecked);\n}\nif (msg.payload.title==\"out_humi\"){\n    flow.set('out_humi', msg.payload.isChecked);\n}\nif (msg.payload.title==\"out_lux\"){\n    flow.set('out_lux', msg.payload.isChecked);\n}\nif (msg.payload.title==\"out_lights\"){\n    flow.set('out_lights', msg.payload.isChecked);\n}\n\n\nif (flow.get('hat_temp')){\n    mymsg = mymsg+', hat_temp'; \n}\nif (flow.get('hat_humi')){\n    mymsg = mymsg+', hat_humi'; \n}\nif (flow.get('hat_pres')){\n    mymsg = mymsg+', hat_pres'; \n}\nif (flow.get('out_temp')){\n    mymsg = mymsg+', out_temp'; \n}\nif (flow.get('hat_pres')){\n    mymsg = mymsg+', hat_pres'; \n}\nif (flow.get('out_humi')){\n    mymsg = mymsg+', out_humi'; \n}\nif (flow.get('out_lux')){\n    mymsg = mymsg+', out_lux'; \n}\nif (flow.get('out_lights')){\n    mymsg = mymsg+', out_lights'; \n}\nlim = msg.payload.limit;\nmsg.topic = \"SELECT \"+\"TIMESTAMP\"+mymsg+\" FROM myDB DESC LIMIT \"+lim;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":160,"wires":[["7ba64eeb.c45248","26dfb5e5.519c02"]]},{"id":"7ba64eeb.c45248","type":"sqlite","z":"601da0a1.22d1b","mydb":"e249e3a.58595a","sqlquery":"msg.topic","sql":"","name":"","x":620,"y":220,"wires":[["7319b705.0ec8a8","2c06c079.35f2d"]]},{"id":"26dfb5e5.519c02","type":"debug","z":"601da0a1.22d1b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":60,"wires":[]},{"id":"99203d02.665e6","type":"debug","z":"601da0a1.22d1b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":970,"y":180,"wires":[]},{"id":"7319b705.0ec8a8","type":"debug","z":"601da0a1.22d1b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":120,"wires":[]},{"id":"ed036e8a.9dea4","type":"trigger","z":"e92ec706.c3bc08","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"1","extend":false,"units":"min","reset":"","bytopic":"all","name":"","x":490,"y":160,"wires":[["4f53547b.c1e254"]]},{"id":"ec646abb.2b1fe","type":"ui_chart","z":"601da0a1.22d1b","name":"","group":"49e07d54.6f0644","order":2,"width":0,"height":0,"label":"All data","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#ff8000","#eb0741","#2ca02c","#9467bd","#d62728","#ff9896","#000080","#9fe6e2"],"outputs":1,"useDifferentColor":false,"className":"","x":940,"y":260,"wires":[[]]},{"id":"7f210865.53ac08","type":"debug","z":"e92ec706.c3bc08","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":270,"y":160,"wires":[]},{"id":"66b45ac5.2a3614","type":"function","z":"601da0a1.22d1b","name":"Empty payload","func":"msg.payload = [];\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":360,"wires":[["ec646abb.2b1fe"]]},{"id":"b19ff829.710878","type":"ui_button","z":"601da0a1.22d1b","name":"","group":"49e07d54.6f0644","order":5,"width":0,"height":0,"passthru":false,"label":"destroy","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"date","topic":"topic","topicType":"msg","x":280,"y":360,"wires":[["66b45ac5.2a3614"]]},{"id":"e46c07b0.c77e48","type":"debug","z":"601da0a1.22d1b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":430,"y":280,"wires":[]},{"id":"2c06c079.35f2d","type":"function","z":"601da0a1.22d1b","name":"","func":"series = [];\ndata = [];\na =[];\nlabels = [];\nvar i;\nvar j;\nvar d = [];\nvar key;\nkey = Object.keys(msg.payload[0]);\n//var name = key[1];\n\nfor (j=1 ; j<Object.keys(msg.payload[0]).length;j++){\n    let d = {};\n    for (i=0 ; i<msg.payload.length;i++){\n        var t = {\"x\": msg.payload[i].TIMESTAMP,\"y\": msg.payload[i][key[j]]};\n        a.push(t);\n    }\n    i=0;\n    data.push(a);\n    series.push(key[j]);\n    labels.push(key[j]);\n    a=[];\n}\nmsg.payload=[{\n    \"series\": series,\n    \"data\": data,\n    \"labels\": labels\n}]\n//node.send(d);\n//msg.payload = data;\n//return msg;\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":220,"wires":[["99203d02.665e6","ec646abb.2b1fe"]]},{"id":"dcf13c99.1a97b","type":"ui_slider","z":"601da0a1.22d1b","name":"","label":"slider","tooltip":"","group":"49e07d54.6f0644","order":2,"width":0,"height":0,"passthru":true,"outs":"end","topic":"limit","topicType":"str","min":"5","max":"500","step":1,"className":"","x":90,"y":200,"wires":[["f00bb542.7a904"]]},{"id":"f00bb542.7a904","type":"join","z":"601da0a1.22d1b","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":290,"y":200,"wires":[["ef044d30.902888","e46c07b0.c77e48"]]},{"id":"fc97f950.200f58","type":"change","z":"601da0a1.22d1b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.isChecked","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"isChecked","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":100,"wires":[["f00bb542.7a904"]]},{"id":"9d1a4dd7.e59f78","type":"change","z":"601da0a1.22d1b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.title","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"title","tot":"str"},{"t":"set","p":"complete","pt":"msg","to":"complete","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":140,"y":100,"wires":[["f00bb542.7a904"]]},{"id":"d35bf3bb.508c38","type":"mqtt in","z":"e92ec706.c3bc08","name":"","topic":"HAMK/VLK/students/sensor","qos":"2","datatype":"auto","broker":"41b2aa4d.8b41c4","x":620,"y":340,"wires":[["cf9c3979.345ba"]]},{"id":"8757e1b6.5c88","type":"rpi-sensehat out","z":"756aad4e.70500c","name":"","x":670,"y":180,"wires":[]},{"id":"cf9c3979.345ba","type":"json","z":"e92ec706.c3bc08","name":"","property":"payload","action":"obj","pretty":false,"x":830,"y":340,"wires":[["a43f110e.6aec"]]},{"id":"e261e8b5.c246c8","type":"debug","z":"e92ec706.c3bc08","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1250,"y":240,"wires":[]},{"id":"a43f110e.6aec","type":"switch","z":"e92ec706.c3bc08","name":"","property":"payload.ID","propertyType":"msg","rules":[{"t":"eq","v":"HAMK_310","vt":"str"},{"t":"eq","v":"HAMK_306","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1050,"y":340,"wires":[["e261e8b5.c246c8"],[]]}]