flows.json
[{"id":"e92ec706.c3bc08","type":"tab","label":"Getting data","disabled":false,"info":""},{"id":"96811b1d.85c69","type":"tab","label":"Storing data","disabled":false,"info":""},{"id":"756aad4e.70500c","type":"tab","label":"Visu","disabled":false,"info":""},{"id":"601da0a1.22d1b","type":"tab","label":"Analysis","disabled":false,"info":""},{"id":"90ae0587.81a5c","type":"tab","label":"Other Rooms","disabled":false,"info":""},{"id":"a5bf6ba0.1dcc78","type":"tab","label":"Bulb","disabled":false,"info":""},{"id":"41b2aa4d.8b41c4","type":"mqtt-broker","z":"","name":"","broker":"iot.research.hamk.fi","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e249e3a.58595a","type":"sqlitedb","z":"","db":"myDB.db","mode":"RWC"},{"id":"87211ac9.fe683","type":"ui_tab","z":"","name":"Real Time Metering","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"d8b07210.4ab6d8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"6a57e494.b3f8b4","type":"ui_group","z":"","name":"Arduino","tab":"87211ac9.fe683","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"e3f64f47.4c1d18","type":"ui_tab","z":"","name":"Analysis","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"49e07d54.6f0644","type":"ui_group","z":"","name":"All data","tab":"e3f64f47.4c1d18","order":1,"disp":true,"width":"12","collapse":false,"className":""},{"id":"e6e2d2e5.7c677","type":"ui_group","z":"","name":"Raspberry","tab":"d4b3e912.7bce4","order":6,"disp":true,"width":"6","collapse":false,"className":""},{"id":"888ff535.b11c7","type":"ui_group","z":"","name":"Brightness and Pressure","tab":"87211ac9.fe683","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"c4bc7a68.df0bb","type":"ui_group","z":"","name":"Comparison","tab":"87211ac9.fe683","order":4,"disp":true,"width":"6","collapse":false,"className":""},{"id":"d4b3e912.7bce4","type":"ui_tab","z":"","name":"Other Rooms","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"25fa4dff.4591da","type":"ui_group","z":"","name":"Real Time Metering","tab":"d4b3e912.7bce4","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"c10049e4.fa927","type":"ui_group","z":"","name":"Raspberry","tab":"87211ac9.fe683","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"1a337a02.22c32e","type":"ui_group","z":"","name":"Arduino","tab":"d4b3e912.7bce4","order":7,"disp":true,"width":"6","collapse":false,"className":""},{"id":"b0d48522.7f4538","type":"ui_group","z":"","name":"Presence","tab":"87211ac9.fe683","order":5,"disp":true,"width":"6","collapse":false,"className":""},{"id":"2e4f4c0.d916434","type":"ui_group","z":"","name":"Light","tab":"87211ac9.fe683","order":6,"disp":true,"width":"6","collapse":false,"className":""},{"id":"b8104c2a.683518","type":"ui_group","z":"","name":"Message","tab":"87211ac9.fe683","order":7,"disp":true,"width":"6","collapse":false,"className":""},{"id":"aa73ef7f.e0a778","type":"ui_group","z":"","name":"Presence","tab":"d4b3e912.7bce4","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"8c4c7f9b.8f8668","type":"ui_group","z":"","name":"Light","tab":"d4b3e912.7bce4","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"8e58ca49.41e2b8","type":"ui_group","z":"","name":"Message","tab":"d4b3e912.7bce4","order":4,"disp":true,"width":"6","collapse":false,"className":""},{"id":"8c5041f4.d316c8","type":"ui_group","z":"","name":"ID","tab":"87211ac9.fe683","order":8,"disp":true,"width":"6","collapse":false,"className":""},{"id":"3ffadfc7.8861a","type":"ui_group","z":"","name":"Pressure an Brightness","tab":"d4b3e912.7bce4","order":7,"disp":true,"width":"6","collapse":false,"className":""},{"id":"e2bb93cb.073628","type":"ui_group","z":"","name":"Comparison","tab":"d4b3e912.7bce4","order":8,"disp":true,"width":"6","collapse":false,"className":""},{"id":"fd8eee17.dda5f","type":"ui_group","z":"","name":"Data","tab":"c51437a7.b547b","order":2,"disp":true,"width":"20","collapse":false,"className":""},{"id":"c51437a7.b547b","type":"ui_tab","z":"","name":"Data Table","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"872f244d.5b5ed","type":"ui_group","z":"","name":"Alarm Log","tab":"c51437a7.b547b","order":2,"disp":true,"width":"20","collapse":false,"className":""},{"id":"d2eac4a2.de4d08","type":"sqlitedb","z":"","db":"AlarmLog","mode":"RWC"},{"id":"bb2f997c.3ac92","type":"remote-config","z":"","name":"MY UI","host":"localhost","protocol":"http","port":"1880","baseurl":"/ui","instancehash":"1mq30ofbfokldw16v4c38kyjm9rgu95p8xd7lfg2ighihtyfpwj3iy06usqvtqq9","server":"nodered02.remote-red.com","region":"de"},{"id":"55cbd8da.8f2d28","type":"ui_tab","z":"","name":"Dynamic Light Control","icon":"dashboard","disabled":false,"hidden":false},{"id":"b39132bd.dd5b08","type":"ui_group","z":"","name":"Bulb intensity","tab":"55cbd8da.8f2d28","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"8b0414ee.d4d3f","type":"rpi-sensehat in","z":"e92ec706.c3bc08","name":"","motion":false,"env":true,"stick":false,"x":120,"y":100,"wires":[["dff7cfee.fd5d78"]]},{"id":"6c110ca0.7b2344","type":"mqtt in","z":"e92ec706.c3bc08","name":"","topic":"HAMK/VLK/students/306","qos":"2","datatype":"auto","broker":"41b2aa4d.8b41c4","x":170,"y":180,"wires":[["607677f6.5dfd58","b3d9988d.b8ede"]]},{"id":"2aabc7e8.752dd8","type":"function","z":"e92ec706.c3bc08","name":"getting data from sense hat","func":"//msg.control = {period:30000000};\n//msg.delay = 30000000;\nvar humidity = msg.payload.humidity;\nvar temperature = msg.payload.temperature;\nvar pressure = msg.payload.pressure;\nflow.set('p_raspberry', pressure);\nflow.set('h_raspberry', humidity);\nflow.set('t_raspberry', temperature);\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":100,"wires":[[]]},{"id":"8fd08250.2e026","type":"function","z":"e92ec706.c3bc08","name":"getting data from arduino","func":"var brightness = msg.payload.brightness;\nvar humidity = msg.payload.humidity;\nvar temperature = msg.payload.temperature;\nvar presence = msg.payload.presence;\nvar light = msg.payload.lightstatus;\nflow.set('b_arduino',brightness);\nflow.set('h_arduino',humidity);\nflow.set('t_arduino',temperature);\nflow.set('prec_arduino',presence);\nflow.set('l_arduino',light);\n//flow.set('l_state_arduino',light_val);\n//flow.set('motion_arduino',motion);\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":280,"wires":[["daaa19d6.80a8e","ed036e8a.9dea4"]]},{"id":"dff7cfee.fd5d78","type":"json","z":"e92ec706.c3bc08","name":"","property":"payload","action":"obj","pretty":false,"x":290,"y":100,"wires":[["2aabc7e8.752dd8"]]},{"id":"607677f6.5dfd58","type":"json","z":"e92ec706.c3bc08","name":"","property":"payload","action":"","pretty":false,"x":210,"y":280,"wires":[["8fd08250.2e026"]]},{"id":"daaa19d6.80a8e","type":"debug","z":"e92ec706.c3bc08","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":280,"wires":[]},{"id":"4f53547b.c1e254","type":"function","z":"e92ec706.c3bc08","name":"combining data","func":" msg.payload = {\n     'hat_temperature' : flow.get('t_raspberry'),\n     'hat_humidity' : flow.get('h_raspberry'),\n     'hat_pressure' : flow.get('p_raspberry'),\n     'sen_temperature' : flow.get('t_arduino'),\n     'sen_humidity' : flow.get('h_arduino'),\n     'sen_brightness' : flow.get('b_arduino'),\n     'sen_lights' : flow.get('l_arduino'),\n     'sen_presence' : flow.get('prec_arduino'),\n     'ID' : 'HAMK_306',\n     'message' : 'good soup'\n };\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":180,"wires":[["4c4e52a6.dcc4cc"]]},{"id":"a4a8ea9d.90f4d","type":"debug","z":"e92ec706.c3bc08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1130,"y":100,"wires":[]},{"id":"5e0f2a67.50b82c","type":"inject","z":"96811b1d.85c69","name":"","topic":"CREATE TABLE myDB(TIMESTAMP INT PRIMARY KEY NOT NULL, ID TEXT NOT NULL, hat_temp REAL, hat_humi REAL, hat_pres REAL, out_temp REAL, out_humi REAL, out_lux REAL, out_lights TEXT, out_presence TEXT, msg TEXT)","payload":"Create table","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":40,"wires":[["60475642.39dde8"]]},{"id":"60475642.39dde8","type":"sqlite","z":"96811b1d.85c69","mydb":"e249e3a.58595a","sqlquery":"msg.topic","sql":"","name":"myDB.db","x":360,"y":120,"wires":[["2a81ef97.96979","13eb248.8ce08dc"]]},{"id":"2a81ef97.96979","type":"debug","z":"96811b1d.85c69","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":570,"y":200,"wires":[]},{"id":"d63efe54.722338","type":"link out","z":"e92ec706.c3bc08","name":"","links":["228bf60e.82e21a","52f532a1.ad0c1c","819a7206.176be","96aa35e.a971d48","c36e23d7.32b09"],"x":1055,"y":160,"wires":[]},{"id":"96aa35e.a971d48","type":"link in","z":"96811b1d.85c69","name":"storing","links":["d63efe54.722338"],"x":115,"y":500,"wires":[["3221a311.4d5b14"]]},{"id":"b5dab5f8.685d4","type":"sqlite","z":"96811b1d.85c69","mydb":"e249e3a.58595a","sqlquery":"msg.topic","sql":"","name":"","x":440,"y":500,"wires":[["fd616599.af635"]]},{"id":"fd616599.af635","type":"debug","z":"96811b1d.85c69","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":540,"wires":[]},{"id":"3221a311.4d5b14","type":"function","z":"96811b1d.85c69","name":"adding data","func":"var Time = new Date();\n\nvar hat_temp = msg.payload.hat_temperature || 0;\nvar hat_humi = msg.payload.hat_humidity || 0;\nvar hat_pres = msg.payload.hat_pressure || 0;\nvar out_temp = msg.payload.sen_temperature || 0;\nvar out_humi = msg.payload.sen_humidity || 0;\nvar out_lux = msg.payload.sen_brightness || 0;\nvar out_lights = msg.payload.sen_lights || \"\";\nvar out_presence = msg.payload.sen_presence || \"\";\n\nmsg =\"(timestamp,ID,hat_temp,hat_humi,hat_pres,out_temp,out_humi,out_lux,out_lights,out_presence,msg)\" +\n     \" values(\" + Time.getTime()+\n     \", '\" + msg.payload.ID + \"'\"+\n     \", \" + hat_temp+\n     \", \" + hat_humi+\n     \", \" + hat_pres+\n     \", \" + out_temp+\n     \", \" + out_humi+\n     \", \" + out_lux+\n     \", '\" + out_lights+\"'\"+\n     \", '\" + out_presence+\"'\"+\n     \", '\" + msg.payload.message+\n    \"' )\";\n    \nvar topic = \"INSERT INTO myDB \" + msg;\n    \nvar msg1 = {};\nmsg1.topic = topic;\nmsg1.payload = Time;\nreturn msg1;\n","outputs":1,"noerr":0,"x":230,"y":500,"wires":[["b5dab5f8.685d4"]]},{"id":"4c4e52a6.dcc4cc","type":"json","z":"e92ec706.c3bc08","name":"","property":"payload","action":"obj","pretty":false,"x":770,"y":100,"wires":[["a4a8ea9d.90f4d","d63efe54.722338","16ff6f93.80c54"]]},{"id":"228bf60e.82e21a","type":"link in","z":"756aad4e.70500c","name":"arduino visu","links":["d63efe54.722338"],"x":55,"y":200,"wires":[["96296bc1.eba91","be0f98dd.18d4e8","6dff78bf.c811d8"]]},{"id":"96296bc1.eba91","type":"change","z":"756aad4e.70500c","name":"T","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.sen_temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":100,"wires":[["31bdd512.87c48a","155e6659.be3492"]]},{"id":"be0f98dd.18d4e8","type":"change","z":"756aad4e.70500c","name":"H","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.sen_humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":180,"wires":[["d6906883.30ce5"]]},{"id":"6dff78bf.c811d8","type":"change","z":"756aad4e.70500c","name":"B","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.sen_brightness","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":260,"wires":[["197f229b.b1dc4d"]]},{"id":"31bdd512.87c48a","type":"ui_gauge","z":"756aad4e.70500c","name":"","group":"6a57e494.b3f8b4","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"C","format":"{{value}}","min":0,"max":"45","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"60","className":"","x":430,"y":100,"wires":[]},{"id":"d6906883.30ce5","type":"ui_gauge","z":"756aad4e.70500c","name":"","group":"6a57e494.b3f8b4","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":420,"y":180,"wires":[]},{"id":"197f229b.b1dc4d","type":"ui_gauge","z":"756aad4e.70500c","name":"","group":"888ff535.b11c7","order":2,"width":0,"height":0,"gtype":"gage","title":"Blightness","label":"lux","format":"{{value}}","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":430,"y":260,"wires":[]},{"id":"16ff6f93.80c54","type":"mqtt out","z":"e92ec706.c3bc08","name":"","topic":"HAMK/VLK/students/sensor","qos":"","retain":"","broker":"41b2aa4d.8b41c4","x":1100,"y":200,"wires":[]},{"id":"52f532a1.ad0c1c","type":"link in","z":"756aad4e.70500c","name":"raspberry visu","links":["d63efe54.722338"],"x":55,"y":460,"wires":[["e6cd00ac.586e48","42b55ea3.e1bec8","85b7c880.1bce3"]]},{"id":"e6cd00ac.586e48","type":"change","z":"756aad4e.70500c","name":"T","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.hat_temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":360,"wires":[["f79b3b24.28de8","f7a5c947.8ec7c"]]},{"id":"42b55ea3.e1bec8","type":"change","z":"756aad4e.70500c","name":"H","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.hat_humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":440,"wires":[["30bece51.a8456a"]]},{"id":"85b7c880.1bce3","type":"change","z":"756aad4e.70500c","name":"P","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.hat_pressure","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":520,"wires":[["ca1ac525.7e2528"]]},{"id":"f79b3b24.28de8","type":"ui_gauge","z":"756aad4e.70500c","name":"","group":"c10049e4.fa927","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"C","format":"{{value}}","min":0,"max":"45","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"60","className":"","x":430,"y":360,"wires":[]},{"id":"30bece51.a8456a","type":"ui_gauge","z":"756aad4e.70500c","name":"","group":"c10049e4.fa927","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":420,"y":440,"wires":[]},{"id":"ca1ac525.7e2528","type":"ui_gauge","z":"756aad4e.70500c","name":"","group":"888ff535.b11c7","order":2,"width":0,"height":0,"gtype":"gage","title":"Pressure","label":"millibar","format":"{{value}}","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":420,"y":520,"wires":[]},{"id":"19e1663a.f178b2","type":"ui_toast","z":"756aad4e.70500c","position":"top right","displayTime":"4","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"className":"","topic":"warning","name":"","x":850,"y":400,"wires":[]},{"id":"f7a5c947.8ec7c","type":"switch","z":"756aad4e.70500c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"40","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":360,"y":400,"wires":[["feba457e.1393d8"]]},{"id":"feba457e.1393d8","type":"function","z":"756aad4e.70500c","name":"sending warning message","func":"msg.payload = 'wow wow too hot on raspberry';\nmsg.topic = \"warning\";\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":400,"wires":[["19e1663a.f178b2","952f51e0.5193c8","3f3b81ea.3aee5e","494d31d9.687f78"]]},{"id":"f9203322.fff61","type":"ui_toast","z":"756aad4e.70500c","position":"top right","displayTime":"4","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"className":"","topic":"warning","name":"","x":850,"y":120,"wires":[]},{"id":"155e6659.be3492","type":"switch","z":"756aad4e.70500c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"30","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":360,"y":140,"wires":[["8b14654a.982b6"]]},{"id":"8b14654a.982b6","type":"function","z":"756aad4e.70500c","name":"sending warning message","func":"msg.payload = 'wow wow too hot on arduino';\nmsg.topic = \"warning\";\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":140,"wires":[["f9203322.fff61","8757e1b6.5c88","f6462733.ad9078","45d3a48a.980404"]]},{"id":"b811e84a.7a9648","type":"function","z":"756aad4e.70500c","name":"setting topic","func":"msg.topic = 'raspberry';\nreturn msg;","outputs":1,"noerr":0,"x":415,"y":618,"wires":[["9944e468.4c1578"]]},{"id":"c36e23d7.32b09","type":"link in","z":"756aad4e.70500c","name":"graph 1","links":["d63efe54.722338"],"x":55,"y":638,"wires":[["763055c2.5fc6ac","47f873c3.12f144"]]},{"id":"763055c2.5fc6ac","type":"change","z":"756aad4e.70500c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.hat_temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":175,"y":618,"wires":[["b811e84a.7a9648"]]},{"id":"dd60455f.f6b15","type":"function","z":"756aad4e.70500c","name":"setting topic","func":"msg.topic = 'arduino';\nreturn msg;","outputs":1,"noerr":0,"x":405,"y":678,"wires":[["9944e468.4c1578"]]},{"id":"47f873c3.12f144","type":"change","z":"756aad4e.70500c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.sen_temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":165,"y":678,"wires":[["dd60455f.f6b15"]]},{"id":"9414a324.2e4d7","type":"function","z":"756aad4e.70500c","name":"setting topic","func":"msg.topic = 'raspberry';\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":740,"wires":[["7330c3ec.9d7e1c"]]},{"id":"819a7206.176be","type":"link in","z":"756aad4e.70500c","name":"graph 2","links":["d63efe54.722338"],"x":60,"y":760,"wires":[["5c2b607b.7b4648","42d51424.736d24","927bc9a3.83e91","9b808fdd.0707e","51488b6.ff3edf4","8a7a9b7.c8a77e8"]]},{"id":"5c2b607b.7b4648","type":"change","z":"756aad4e.70500c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.hat_humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":180,"y":740,"wires":[["9414a324.2e4d7"]]},{"id":"dd6e608a.f0ffa8","type":"function","z":"756aad4e.70500c","name":"setting topic","func":"msg.topic = 'arduino';\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":800,"wires":[["7330c3ec.9d7e1c"]]},{"id":"42d51424.736d24","type":"change","z":"756aad4e.70500c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.sen_humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":170,"y":800,"wires":[["dd6e608a.f0ffa8"]]},{"id":"f964c273.4e89c","type":"ui_list","z":"601da0a1.22d1b","group":"49e07d54.6f0644","name":"","order":3,"width":"4","height":"7","lineType":"one","actionType":"check","allowHTML":false,"outputs":1,"topic":"selection","x":230,"y":40,"wires":[["fc97f950.200f58","9d1a4dd7.e59f78"]]},{"id":"951444de.f88d","type":"inject","z":"601da0a1.22d1b","name":"sel","topic":"","payload":"[{\"title\":\"hat_temp\"},{\"title\":\"hat_humi\"},{\"title\":\"hat_pres\"},{\"title\":\"out_temp\"},{\"title\":\"out_humi\"},{\"title\":\"out_lux\"},{\"title\":\"out_lights\"}]","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":90,"y":40,"wires":[["f964c273.4e89c"]]},{"id":"ef044d30.902888","type":"function","z":"601da0a1.22d1b","name":"selecting data from db","func":"var mymsg=\"\";\nvar lim;\n\nif (msg.payload.title=='hat_temp'){\n    flow.set('hat_temp', msg.payload.isChecked);\n}\nif (msg.payload.title=='hat_humi'){\n    flow.set('hat_humi', msg.payload.isChecked);\n}\nif (msg.payload.title==\"hat_pres\"){\n    flow.set('hat_pres', msg.payload.isChecked);\n}\nif (msg.payload.title==\"out_temp\"){\n    flow.set('out_temp', msg.payload.isChecked);\n}\nif (msg.payload.title==\"out_humi\"){\n    flow.set('out_humi', msg.payload.isChecked);\n}\nif (msg.payload.title==\"out_lux\"){\n    flow.set('out_lux', msg.payload.isChecked);\n}\nif (msg.payload.title==\"out_lights\"){\n    flow.set('out_lights', msg.payload.isChecked);\n}\n\n\nif (flow.get('hat_temp')){\n    mymsg = mymsg+', hat_temp'; \n}\nif (flow.get('hat_humi')){\n    mymsg = mymsg+', hat_humi'; \n}\nif (flow.get('hat_pres')){\n    mymsg = mymsg+', hat_pres'; \n}\nif (flow.get('out_temp')){\n    mymsg = mymsg+', out_temp'; \n}\nif (flow.get('hat_pres')){\n    mymsg = mymsg+', hat_pres'; \n}\nif (flow.get('out_humi')){\n    mymsg = mymsg+', out_humi'; \n}\nif (flow.get('out_lux')){\n    mymsg = mymsg+', out_lux'; \n}\nif (flow.get('out_lights')){\n    mymsg = mymsg+', out_lights'; \n}\nlim = msg.payload.limit;\nmsg.topic = \"SELECT \"+\"TIMESTAMP\"+mymsg+\" FROM myDB DESC LIMIT \"+lim;\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":180,"wires":[["7ba64eeb.c45248"]]},{"id":"7ba64eeb.c45248","type":"sqlite","z":"601da0a1.22d1b","mydb":"e249e3a.58595a","sqlquery":"msg.topic","sql":"","name":"","x":840,"y":180,"wires":[["2c06c079.35f2d"]]},{"id":"ed036e8a.9dea4","type":"trigger","z":"e92ec706.c3bc08","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"30","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":470,"y":180,"wires":[["4f53547b.c1e254"]]},{"id":"ec646abb.2b1fe","type":"ui_chart","z":"601da0a1.22d1b","name":"","group":"49e07d54.6f0644","order":2,"width":0,"height":0,"label":"All data","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"100","removeOlderPoints":"500","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#ff8000","#eb0741","#2ca02c","#9467bd","#d62728","#ff9896","#000080","#9fe6e2"],"outputs":1,"useDifferentColor":false,"className":"","x":920,"y":320,"wires":[[]]},{"id":"66b45ac5.2a3614","type":"function","z":"601da0a1.22d1b","name":"empty payload","func":"msg.payload = [];\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":360,"wires":[["ec646abb.2b1fe"]]},{"id":"b19ff829.710878","type":"ui_button","z":"601da0a1.22d1b","name":"","group":"49e07d54.6f0644","order":5,"width":0,"height":0,"passthru":false,"label":"destroy","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"date","topic":"topic","topicType":"msg","x":360,"y":360,"wires":[["66b45ac5.2a3614"]]},{"id":"2c06c079.35f2d","type":"function","z":"601da0a1.22d1b","name":"formatting pulled data","func":"series = [];\ndata = [];\na =[];\nlabels = [];\nvar i;\nvar j;\nvar d = [];\nvar key;\nkey = Object.keys(msg.payload[0]);\n//var name = key[1];\n\nfor (j=1 ; j<Object.keys(msg.payload[0]).length;j++){\n    let d = {};\n    for (i=0 ; i<msg.payload.length;i++){\n        var t = {\"x\": msg.payload[i].TIMESTAMP,\"y\": msg.payload[i][key[j]]};\n        a.push(t);\n    }\n    i=0;\n    data.push(a);\n    series.push(key[j]);\n    labels.push(key[j]);\n    a=[];\n}\nmsg.payload=[{\n    \"series\": series,\n    \"data\": data,\n    \"labels\": labels\n}]\n//node.send(d);\n//msg.payload = data;\n//return msg;\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":260,"wires":[["ec646abb.2b1fe"]]},{"id":"dcf13c99.1a97b","type":"ui_slider","z":"601da0a1.22d1b","name":"","label":"slider","tooltip":"","group":"49e07d54.6f0644","order":2,"width":0,"height":0,"passthru":true,"outs":"end","topic":"limit","topicType":"str","min":"5","max":"500","step":1,"className":"","x":110,"y":220,"wires":[["f00bb542.7a904"]]},{"id":"f00bb542.7a904","type":"join","z":"601da0a1.22d1b","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":330,"y":240,"wires":[["ef044d30.902888"]]},{"id":"fc97f950.200f58","type":"change","z":"601da0a1.22d1b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.isChecked","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"isChecked","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":100,"wires":[["f00bb542.7a904"]]},{"id":"9d1a4dd7.e59f78","type":"change","z":"601da0a1.22d1b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.title","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"title","tot":"str"},{"t":"set","p":"complete","pt":"msg","to":"complete","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":140,"y":100,"wires":[["f00bb542.7a904"]]},{"id":"d35bf3bb.508c38","type":"mqtt in","z":"e92ec706.c3bc08","name":"","topic":"HAMK/VLK/students/sensor","qos":"2","datatype":"auto","broker":"41b2aa4d.8b41c4","x":620,"y":340,"wires":[["cf9c3979.345ba"]]},{"id":"8757e1b6.5c88","type":"rpi-sensehat out","z":"756aad4e.70500c","name":"","x":850,"y":160,"wires":[]},{"id":"cf9c3979.345ba","type":"json","z":"e92ec706.c3bc08","name":"","property":"payload","action":"obj","pretty":false,"x":830,"y":340,"wires":[["e261e8b5.c246c8"]]},{"id":"e261e8b5.c246c8","type":"debug","z":"e92ec706.c3bc08","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1010,"y":340,"wires":[]},{"id":"952f51e0.5193c8","type":"rpi-sensehat out","z":"756aad4e.70500c","name":"","x":850,"y":440,"wires":[]},{"id":"fbe3525b.89ebe","type":"change","z":"90ae0587.81a5c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.hat_temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":20,"wires":[["50d1338.6bd104c"]]},{"id":"50d1338.6bd104c","type":"ui_gauge","z":"90ae0587.81a5c","name":"","group":"e6e2d2e5.7c677","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"C","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":910,"y":20,"wires":[]},{"id":"4fe752f7.7dcb74","type":"change","z":"90ae0587.81a5c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.hat_humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":60,"wires":[["9681f0ee.38fdc8"]]},{"id":"9681f0ee.38fdc8","type":"ui_gauge","z":"90ae0587.81a5c","name":"","group":"e6e2d2e5.7c677","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":900,"y":60,"wires":[]},{"id":"5baf4c9d.8a7da4","type":"function","z":"601da0a1.22d1b","name":"timestamp","func":"for (var i=0;i<msg.payload.length;i++){\n    date_obj = new Date(msg.payload[i].TIMESTAMP);\n    var date = date_obj.getDate();\n    var month = date_obj.getMonth()+1;\n    var year = date_obj.getFullYear();\n    var hours = date_obj.getHours();\n    var minutes = date_obj.getMinutes();\n    var seconds = date_obj.getSeconds();\n    var newtime = date+\"-\"+month+\"-\"+year;\n    //var newtime = year+\"-\"+month+\"-\"+date;\n    newtime=newtime+\" \"+hours+\":\"+minutes+\":\"+seconds;\n    msg.payload[i].TIMESTAMP=newtime;\n}\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":700,"wires":[[]]},{"id":"adf4c012.09f89","type":"function","z":"90ae0587.81a5c","name":"filtering ID","func":"context.data = context.data || {};\nvar id = \"\";\nswitch(msg.topic){\n    case \"id\":\n        context.data.id = msg.payload;\n        msg = null;\n        break\n    case \"data\":\n        if (msg.payload.ID==context.data.id){\n            return msg;\n        }\n}","outputs":1,"noerr":0,"x":500,"y":100,"wires":[["fbe3525b.89ebe","4fe752f7.7dcb74","6d119f54.93cc3","e09a4793.591c7","b37ddadc.463c8","ad48a881.7179","69aac8d8.5b8a18","6d35eb64.0fe9f4","b8a7af30.c07c7","c138cb00.1b8a98"]]},{"id":"b86b03f8.1e815","type":"ui_dropdown","z":"90ae0587.81a5c","name":"id select","label":"","tooltip":"","place":"Select option","group":"25fa4dff.4591da","order":0,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"HAMK_311","value":"HAMK_311","type":"str"},{"label":"HAMK_340","value":"HAMK_340","type":"str"},{"label":"HAMK_331","value":"HAMK_331","type":"str"},{"label":"HAMK-304","value":"HAMK-304","type":"str"}],"payload":"","topic":"id","topicType":"str","className":"","x":340,"y":60,"wires":[["adf4c012.09f89"]]},{"id":"9902838f.602f8","type":"mqtt in","z":"90ae0587.81a5c","name":"","topic":"HAMK/VLK/students/sensor","qos":"2","datatype":"auto","broker":"41b2aa4d.8b41c4","x":160,"y":100,"wires":[["7f4bd583.c0c85c"]]},{"id":"d0f7d011.a7503","type":"change","z":"90ae0587.81a5c","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"data","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":180,"wires":[["adf4c012.09f89"]]},{"id":"7f4bd583.c0c85c","type":"json","z":"90ae0587.81a5c","name":"","property":"payload","action":"obj","pretty":false,"x":230,"y":180,"wires":[["d0f7d011.a7503"]]},{"id":"6d119f54.93cc3","type":"change","z":"90ae0587.81a5c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.sen_temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":100,"wires":[["7a69cc6e.1e831c"]]},{"id":"e09a4793.591c7","type":"change","z":"90ae0587.81a5c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.sen_humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":140,"wires":[["e0f1656f.9e93c"]]},{"id":"7a69cc6e.1e831c","type":"ui_gauge","z":"90ae0587.81a5c","name":"","group":"1a337a02.22c32e","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"C","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":910,"y":100,"wires":[]},{"id":"e0f1656f.9e93c","type":"ui_gauge","z":"90ae0587.81a5c","name":"","group":"1a337a02.22c32e","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":900,"y":140,"wires":[]},{"id":"9944e468.4c1578","type":"ui_chart","z":"756aad4e.70500c","name":"","group":"c4bc7a68.df0bb","order":3,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#eb0741","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":610,"y":660,"wires":[[]]},{"id":"7330c3ec.9d7e1c","type":"ui_chart","z":"756aad4e.70500c","name":"","group":"c4bc7a68.df0bb","order":3,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#eb0741","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":605,"y":782,"wires":[[]]},{"id":"927bc9a3.83e91","type":"ui_text","z":"756aad4e.70500c","group":"b0d48522.7f4538","order":2,"width":0,"height":0,"name":"presence","label":"","format":"<font size=6>{{msg.payload.sen_presence}}</font>","layout":"col-center","className":"","x":200,"y":880,"wires":[]},{"id":"9b808fdd.0707e","type":"ui_text","z":"756aad4e.70500c","group":"2e4f4c0.d916434","order":2,"width":0,"height":0,"name":"light","label":"","format":"<font size=6>{{msg.payload.sen_lights}}</font>","layout":"col-center","className":"","x":190,"y":920,"wires":[]},{"id":"51488b6.ff3edf4","type":"ui_text","z":"756aad4e.70500c","group":"b8104c2a.683518","order":2,"width":0,"height":0,"name":"message","label":"","format":"<font size=6>{{msg.payload.message}}</font>","layout":"col-center","className":"","x":200,"y":960,"wires":[]},{"id":"8a7a9b7.c8a77e8","type":"ui_text","z":"756aad4e.70500c","group":"8c5041f4.d316c8","order":2,"width":0,"height":0,"name":"ID","label":"","format":"<font size=6>{{msg.payload.ID}}</font>","layout":"col-center","className":"","x":190,"y":1000,"wires":[]},{"id":"b37ddadc.463c8","type":"ui_text","z":"90ae0587.81a5c","group":"aa73ef7f.e0a778","order":2,"width":0,"height":0,"name":"presence","label":"","format":"<font size=6>{{msg.payload.sen_presence}}</font>","layout":"col-center","className":"","x":500,"y":260,"wires":[]},{"id":"ad48a881.7179","type":"ui_text","z":"90ae0587.81a5c","group":"8c4c7f9b.8f8668","order":2,"width":0,"height":0,"name":"light","label":"","format":"<font size=6>{{msg.payload.sen_lights}}</font>","layout":"col-center","className":"","x":490,"y":300,"wires":[]},{"id":"69aac8d8.5b8a18","type":"ui_text","z":"90ae0587.81a5c","group":"8e58ca49.41e2b8","order":2,"width":0,"height":0,"name":"message","label":"","format":"<font size=6>{{msg.payload.message}}</font>","layout":"col-center","className":"","x":500,"y":340,"wires":[]},{"id":"6d35eb64.0fe9f4","type":"change","z":"90ae0587.81a5c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.sen_brightness","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":180,"wires":[["f6a406f5.1d2f"]]},{"id":"b8a7af30.c07c7","type":"change","z":"90ae0587.81a5c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.hat_pressure","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":220,"wires":[["d8f37255.8a2bb"]]},{"id":"f6a406f5.1d2f","type":"ui_gauge","z":"90ae0587.81a5c","name":"","group":"3ffadfc7.8861a","order":1,"width":0,"height":0,"gtype":"gage","title":"Brightness","label":"lux","format":"{{value}}","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":910,"y":180,"wires":[]},{"id":"d8f37255.8a2bb","type":"ui_gauge","z":"90ae0587.81a5c","name":"","group":"3ffadfc7.8861a","order":1,"width":0,"height":0,"gtype":"gage","title":"Pressure","label":"millibar","format":"{{value}}","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":900,"y":220,"wires":[]},{"id":"1785f8db.bbed87","type":"function","z":"90ae0587.81a5c","name":"setting topic","func":"msg.topic = 'raspberry';\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":480,"wires":[["1775af4d.99a259"]]},{"id":"8a4ebfd8.fae128","type":"change","z":"90ae0587.81a5c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.hat_temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":480,"wires":[["1785f8db.bbed87"]]},{"id":"d706aefd.0c7278","type":"function","z":"90ae0587.81a5c","name":"setting topic","func":"msg.topic = 'arduino';\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":540,"wires":[["1775af4d.99a259"]]},{"id":"5a77576e.ffa758","type":"change","z":"90ae0587.81a5c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.sen_temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":540,"wires":[["d706aefd.0c7278"]]},{"id":"3655b6d.2549d4a","type":"function","z":"90ae0587.81a5c","name":"setting topic","func":"msg.topic = 'raspberry';\nreturn msg;","outputs":1,"noerr":0,"x":675,"y":602,"wires":[["82381435.880b"]]},{"id":"f42c78b9.8e6078","type":"change","z":"90ae0587.81a5c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.hat_humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":435,"y":602,"wires":[["3655b6d.2549d4a"]]},{"id":"59127c52.7095f4","type":"function","z":"90ae0587.81a5c","name":"setting topic","func":"msg.topic = 'arduino';\nreturn msg;","outputs":1,"noerr":0,"x":665,"y":662,"wires":[["82381435.880b"]]},{"id":"42371622.5fef3","type":"change","z":"90ae0587.81a5c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.sen_humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":425,"y":662,"wires":[["59127c52.7095f4"]]},{"id":"1775af4d.99a259","type":"ui_chart","z":"90ae0587.81a5c","name":"","group":"e2bb93cb.073628","order":3,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#eb0741","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":865,"y":522,"wires":[[]]},{"id":"82381435.880b","type":"ui_chart","z":"90ae0587.81a5c","name":"","group":"e2bb93cb.073628","order":3,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#eb0741","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":860,"y":644,"wires":[[]]},{"id":"c138cb00.1b8a98","type":"link out","z":"90ae0587.81a5c","name":"","links":["a1e383ae.55a5f"],"x":635,"y":280,"wires":[]},{"id":"a1e383ae.55a5f","type":"link in","z":"90ae0587.81a5c","name":"d","links":["c138cb00.1b8a98"],"x":180,"y":540,"wires":[["8a4ebfd8.fae128","5a77576e.ffa758","f42c78b9.8e6078","42371622.5fef3"]]},{"id":"13eb248.8ce08dc","type":"ui_table","z":"96811b1d.85c69","group":"fd8eee17.dda5f","name":"","order":5,"width":"20","height":"12","columns":[{"field":"TIMESTAMP","title":"TIMESTAMP","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"hat_temp","title":"hat_temp","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"hat_humi","title":"hat_humi","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"hat_pres","title":"hat_pres","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"out_temp","title":"out_temp","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"out_humi","title":"out_humi","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"out_lux","title":"out_lux","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"out_lights","title":"out_lights","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"out_presence","title":"out_presence","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"msg","title":"msg","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":550,"y":100,"wires":[]},{"id":"dffc9076.5d769","type":"sqlite","z":"96811b1d.85c69","mydb":"d2eac4a2.de4d08","sqlquery":"msg.topic","sql":"","name":"AlarmLog.db","x":350,"y":300,"wires":[["2a81ef97.96979","5c128fbd.d15728"]]},{"id":"c4f02364.645348","type":"inject","z":"96811b1d.85c69","name":"","topic":"CREATE TABLE AlarmLog(TIMESTAMP INT PRIMARY KEY NOT NULL, type TEXT, msg TEXT)","payload":"Create table","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":240,"wires":[["dffc9076.5d769"]]},{"id":"b838218c.92b868","type":"sqlite","z":"96811b1d.85c69","mydb":"d2eac4a2.de4d08","sqlquery":"msg.topic","sql":"","name":"AlarmLog.db","x":430,"y":620,"wires":[["fd616599.af635"]]},{"id":"69cf0476.4d95bc","type":"link in","z":"96811b1d.85c69","name":"alarm","links":["3f3b81ea.3aee5e","f6462733.ad9078"],"x":115,"y":620,"wires":[["81df03cb.2ba798"]]},{"id":"f6462733.ad9078","type":"link out","z":"756aad4e.70500c","name":"","links":["69cf0476.4d95bc"],"x":755,"y":240,"wires":[]},{"id":"3f3b81ea.3aee5e","type":"link out","z":"756aad4e.70500c","name":"","links":["69cf0476.4d95bc"],"x":755,"y":500,"wires":[]},{"id":"81df03cb.2ba798","type":"function","z":"96811b1d.85c69","name":"adding data","func":"var Time = new Date();\n\nvar type = msg.topic || \"\";\nvar mes = msg.payload || \"\";\n\nmsg =\"(timestamp,type,msg)\" +\n     \" values(\" + Time.getTime()+\n     \", '\" + type + \"'\"+\n     \", '\" + mes+\n    \"' )\";\n    \nvar topic = \"INSERT INTO AlarmLog \" + msg;\n    \nvar msg1 = {};\nmsg1.topic = topic;\nmsg1.payload = Time;\nreturn msg1;\n\n//TIMESTAMP INT PRIMARY KEY NOT NULL, type TEXT, val REAL, msg TEXT\n","outputs":1,"noerr":0,"x":230,"y":620,"wires":[["b838218c.92b868"]]},{"id":"45d3a48a.980404","type":"ui_audio","z":"756aad4e.70500c","name":"","group":"6a57e494.b3f8b4","voice":"urn:moz-tts:sapi:Microsoft Hazel Desktop - English (Great Britain)?en-GB","always":"","x":860,"y":200,"wires":[]},{"id":"494d31d9.687f78","type":"ui_audio","z":"756aad4e.70500c","name":"","group":"6a57e494.b3f8b4","voice":"urn:moz-tts:sapi:Microsoft Hazel Desktop - English (Great Britain)?en-GB","always":"","x":860,"y":480,"wires":[]},{"id":"5c128fbd.d15728","type":"ui_table","z":"96811b1d.85c69","group":"872f244d.5b5ed","name":"","order":5,"width":"20","height":"10","columns":[{"field":"TIMESTAMP","title":"TIMESTAMP","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"type","title":"type","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"msg","title":"msg","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":550,"y":300,"wires":[]},{"id":"553e05c4.fc3db4","type":"ui_button","z":"96811b1d.85c69","name":"","group":"fd8eee17.dda5f","order":1,"width":"2","height":"1","passthru":false,"label":"last 100","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"100","payloadType":"str","topic":"SELECT * FROM myDB DESC LIMIT 100","topicType":"str","x":120,"y":160,"wires":[["60475642.39dde8"]]},{"id":"d3c0c868.6f827","type":"ui_button","z":"96811b1d.85c69","name":"","group":"fd8eee17.dda5f","order":2,"width":"2","height":"1","passthru":false,"label":"last 10","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"10","payloadType":"str","topic":"SELECT * FROM myDB DESC LIMIT 10","topicType":"str","x":130,"y":200,"wires":[["60475642.39dde8"]]},{"id":"80b7fcf4.ea58c8","type":"ui_button","z":"96811b1d.85c69","name":"","group":"fd8eee17.dda5f","order":4,"width":"3","height":"1","passthru":false,"label":"clear data base","tooltip":"","color":"","bgcolor":"red","className":"","icon":"","payload":"del","payloadType":"str","topic":"DELETE FROM myDB","topicType":"str","x":120,"y":120,"wires":[["60475642.39dde8"]]},{"id":"98693c2e.ec86d8","type":"ui_button","z":"96811b1d.85c69","name":"","group":"fd8eee17.dda5f","order":3,"width":"2","height":"1","passthru":false,"label":"first 10","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"10","payloadType":"str","topic":"SELECT * FROM myDB LIMIT 10","topicType":"str","x":110,"y":80,"wires":[["60475642.39dde8"]]},{"id":"a010fbf5.7c64f","type":"ui_button","z":"96811b1d.85c69","name":"","group":"872f244d.5b5ed","order":2,"width":"2","height":"1","passthru":false,"label":"last 100","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"100","payloadType":"str","topic":"SELECT * FROM AlarmLog DESC LIMIT 100","topicType":"str","x":120,"y":360,"wires":[["dffc9076.5d769"]]},{"id":"f88757b9.997628","type":"ui_button","z":"96811b1d.85c69","name":"","group":"872f244d.5b5ed","order":3,"width":"2","height":"1","passthru":false,"label":"last 10","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"10","payloadType":"str","topic":"SELECT * FROM AlarmLog DESC LIMIT 10","topicType":"str","x":130,"y":400,"wires":[["dffc9076.5d769"]]},{"id":"6f6a2257.c4c55c","type":"ui_button","z":"96811b1d.85c69","name":"","group":"872f244d.5b5ed","order":4,"width":"3","height":"1","passthru":false,"label":"clear data base","tooltip":"","color":"","bgcolor":"red","className":"","icon":"","payload":"del","payloadType":"str","topic":"DELETE FROM AlarmLog","topicType":"str","x":120,"y":320,"wires":[["dffc9076.5d769"]]},{"id":"39ca6942.ec6ede","type":"ui_button","z":"96811b1d.85c69","name":"","group":"872f244d.5b5ed","order":1,"width":"2","height":"1","passthru":false,"label":"first 10","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"10","payloadType":"str","topic":"SELECT * FROM AlarmLog LIMIT 10","topicType":"str","x":110,"y":280,"wires":[["dffc9076.5d769"]]},{"id":"f0c5099e.00c5e","type":"remote-access","z":"756aad4e.70500c","confignode":"bb2f997c.3ac92","name":"","verbose":0,"x":620,"y":1000,"wires":[[]]},{"id":"b3d9988d.b8ede","type":"debug","z":"e92ec706.c3bc08","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":320,"y":380,"wires":[]},{"id":"1abb399.c540dc6","type":"mqtt in","z":"a5bf6ba0.1dcc78","name":"","topic":"HAMK/VLK/students/306","qos":"2","datatype":"auto","broker":"41b2aa4d.8b41c4","x":150,"y":80,"wires":[["d976ad7.c2ec35"]]},{"id":"d976ad7.c2ec35","type":"json","z":"a5bf6ba0.1dcc78","name":"","property":"payload","action":"","pretty":false,"x":310,"y":140,"wires":[["de641b1e.56493"]]},{"id":"de641b1e.56493","type":"change","z":"a5bf6ba0.1dcc78","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.bulb","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":220,"wires":[["e098af9e.c4872"]]},{"id":"e098af9e.c4872","type":"ui_gauge","z":"a5bf6ba0.1dcc78","name":"","group":"b39132bd.dd5b08","order":0,"width":0,"height":0,"gtype":"wave","title":"light","label":"lux","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":620,"y":280,"wires":[]}]
